// Fonts
@font-face {
  font-family: 'Circular Std';
  font-weight: 400;
	font-style: normal;
  src: url('/static/fonts/CircularStd-Book.otf');
  // src: url('/static/fonts/CircularStd-Book.otf');
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 600;
	font-style: normal;
  src: url('/static/fonts/CircularStd-Medium.otf');
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 700;
	font-style: normal;
  src: url('/static/fonts/CircularStd-Bold.otf');
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 900;
	font-style: normal;
  src: url('/static/fonts/CircularStd-Black.otf');
}

@font-face {
  font-family: 'Maison Mono';
  font-weight: 300;
	font-style: normal;
  src: url('/static/fonts/Maison-Mono-Light.otf');
}

@font-face {
  font-family: 'Maison Mono';
  font-weight: 400;
	font-style: normal;
  src: url('/static/fonts/Maison-Mono-Regular.otf');
}

* {
  font-family: 'Circular Std';
  font-size: 100%;
}

#__next {
  display: flex;
}