// Colors
$text: #000000;
$menu-item: #828C96;
$menu-item-secondary: #999999;
$highlight: #44B02A;
$selected: #2E3F52;
$selected-secondary: #565656;
$bg-primary: #EFEFEE;
$bg-secondary: #ECECEC;
$bg-tertiary: #D8D8D8;
$bg-highlight: #F9F9F9;
$bg-highlight-secondary: #F1F1F1;