@import '../../styles/variables.scss';

.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

main {
  flex-grow: 1;
  overflow: hidden;
  background: $bg-primary;
}

.content {
  padding-top: 20px;
  height: 100%;
  overflow-y: auto;
  border-left: 20px solid $bg-secondary;
}

.tickets__heading {
  margin-top: 60px;
  padding: 40px 0 40px 40px;
  font-weight: 600;
  color: $selected;
  background-color: $bg-secondary;
}