@import '../../lib/styles/themes.scss';

.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

main {
  flex-grow: 1;
  overflow: hidden;
  background: theme-color('bg-primary', 'light');
}

.content {
  padding-top: 20px;
  height: 100%;
  overflow-y: auto;
  border-left: 20px solid theme-color('bg-secondary', 'light');
}

.tickets__heading {
  margin-top: 60px;
  padding: 40px 0 40px 40px;
  font-weight: 600;
  color: theme-color('selected', 'light');
  background-color: theme-color('bg-secondary', 'light');
}