header {
  z-index: 99;
  position: absolute;
  height: 60px;
  width: 100vw;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--border);
}

.tickets__heading {
  height: 60px;
  padding: 20px 0 0 40px;
  // font-weight: 600;
  font-size: 20px;
  color: var(--selected);
  background-color: var(--bg-secondary);
}