.modal {
  position: absolute;
  width: 145px;
  font-family: 'Maison Mono';
  font-size: 12px;
  font-weight: 400;
  color: var(--menu-item);
  background: var(--bg-highlight);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.modal.confirm {
  @extend .modal;
  width: 80px;
}

.modal.multi {
  @extend .modal;
}

.modal.full {
  @extend .modal;
  width: 500px;
}

.modal-item {
  width: 100%;
  margin: 3px 0 3px 0;
  padding: 5px 0 7px 0;
  border-bottom: 1px solid var(--border);
  text-align: center;
}

.modal-item:last-child {
  @extend .modal-item;
  border-bottom: none;
}

.modal-item.hovered {
  font-weight: 700;
  color: var(--highlight);
}