@import '../../styles/themes.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 100vh;
  background-color: theme-color('bg-tertiary', 'light');
}

.logo {
  width: 40px;
}

.logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.sidebar__menu {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 20px 0 10px 0;
    fill: theme-color('selected-secondary', 'light');
    cursor: pointer;
  }

  .selected {
    fill: theme-color('highlight');
    background-color: theme-color('bg-primary', 'light');
  }
}