@import '../../styles/variables.scss';

.sub-menu {
  width: 315px;
  background-color: $bg-primary;
}

.sub-menu__header {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 315px;
  border-bottom: 1px solid $bg-tertiary;
  color: $highlight;
  font-size: 14px;
  font-weight: 600;
}

.sub-menu__wrapper {
  width: 100%;
  margin-top: 60px;
  padding: 32px 60px 0 60px;
  color: $menu-item;
}

.sub-menu__background {
  pointer-events: none;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 60px;
  height: 100%;
  width: 315px;
  border-left: 20px solid $bg-secondary;
  border-right: 20px solid $bg-highlight-secondary;
}

.sub-menu__title {
  display: flex;
  justify-content: space-between;
  color: $menu-item;
  font-size: 16px;
}

.sub-menu__items {
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: $bg-tertiary;

  &-selected {
    @extend .sub-menu__items;
    color: $selected;
    font-weight: 700;
  }
}