.sub-menu {
  width: 460px;
  background-color: #EFEFEE;
}

.sub-menu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #D8D8D8;
  color: #44B02A;
  font-size: 14px;
  font-weight: 600;
}

.sub-menu__items {
  height: 100%;
  width: 100%;
}

.sub-menu__background {
  position: absolute;
  height: 100%;
  width: 100%;
  border-left: 20px solid #ECECEC;
  border-right: 20px solid #F1F1F1;
}