@import '../../lib/styles/themes.scss';

.ticket {
  display: flex;
  align-items: center;
  margin: 3px 20px 0 20px;
  padding: 20px 20px 15px 20px;
  height: 65px;
  border: theme-color('border', $dark) solid 1px;
  border-radius: 8px;
  background-color: theme-color('bg-quaternary', $dark);
}

.ticket svg {
  margin: -5px 10px 0px 0;
}

// .ticket__image {
//   margin: 0 10px;
//   width: 35px;
//   height: 35px;
//   border-radius: 50%;
// }

.ticket__title {
  height: 40px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: theme-color('selected', $dark)
}

.ticket__info {
  display: flex;
  align-items: center;
  margin: 3.5px 0 0 0;
}

.ticket__date {
  margin: 2px 0 0 0;
  font-family: 'Maison Mono';
  font-weight: 400;
  font-size: 9px;
  color: theme-color('menu-item-secondary', $dark);
}

.ticket__author-wrapper {
  margin: 0 15px;
  font-family: 'Maison Mono';
  font-weight: 400;
  font-size: 9px;
  color: theme-color('menu-item-secondary', $dark); 
}

.ticket__author {
  font-family: 'Maison Mono';
  font-weight: 700;
  color: theme-color('highlight', $dark);
}

.ticket__topics {
  display: flex;
  justify-content: space-around;
}

.ticket__topic {
  margin: 0 4px;
  padding: 3px 4px 1.5px;
  background-color: theme-color('bg-topic', $dark);
  border-radius: 2px;
  font-family: 'Maison Mono';
  font-weight: 300;
  font-size: 9px;
}

.ticket.entered {
  background-color: theme-color('bg-highlight', $dark);
}

.ticket__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
}

.ticket__menu-item > svg {
  margin-top: 0.5px;
}

.ticket__menu-item > * {
  fill: theme-color('menu-item-secondary', $dark);
}

.ticket__menu-item.hovered > * {
  fill: theme-color('highlight', $dark);
}